<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="ignoreUnresolvablePlaceholders" value="true" />
    <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
    <property name="ignoreResourceNotFound" value="false" />
    <property name="locations">
      <list>
        <value>classpath:application.properties</value>
      </list>
    </property>
  </bean>

  <context:component-scan base-package="estalea.ir.membersite.accounting.w9"/>

  <mvc:annotation-driven/>

  <mvc:resources mapping="/**" location="/assets/" />

  <bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView"/>

  <bean id="loggingIn" class="org.apache.cxf.interceptor.LoggingInInterceptor" />
  <bean id="loggingOut" class="org.apache.cxf.interceptor.LoggingOutInterceptor" />

  <jaxws:client id="hatsGTDWebservice" address="https://www.tincheck.com/pvsws/pvsservice.asmx"
                serviceClass="com.github.phuonghuynh.ws.TinWebService">
    <jaxws:inInterceptors>
      <ref bean="loggingIn" />
    </jaxws:inInterceptors>
    <jaxws:outInterceptors>
      <ref bean="loggingOut" />
    </jaxws:outInterceptors>
    <jaxws:properties>
      <entry key="soap.env.ns.map">
        <map>
          <entry key="pvs" value="http://www.TinCheck.com/WebServices/PVSService/" />
          <entry key="soapenv" value="http://schemas.xmlsoap.org/soap/envelope/" />
        </map>
      </entry>
      <entry key="disable.outputstream.optimization" value="true" />
    </jaxws:properties>
  </jaxws:client>

</beans>